# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Plan files
*tfplan*
terraform.tfvars
env
env-var

#the config file that may be downloaded post install, not to be committed (config data)
forseti_conf_server.yaml