project_id = "aaaa"
org_id     = "123456"
domain     = "domain.net"
region     = "europe-west1"

instance_tags = ["forseti"]

network         = "default"
subnetwork      = "default"
network_project = ""

private = true

gsuite_admin_email      = "admin@domain.net"
sendgrid_api_key        = ""
forseti_email_sender    = ""
forseti_email_recipient = ""

csccid = organizations/12345656778/sources/1234567
git_repo = "git@github.com:myaccount/policy-library.git"